@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html::-webkit-scrollbar {
  width: 0.6rem;
}
html::-webkit-scrollbar-thumb {
  background-color: #453559;
}

/* base styles */
body {
  font-family: Raleway, sans-serif;
  margin: 0;
  font-size: 1.5em;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  background: #1b1523;
  color: #fff;
  overflow-x: hidden;
  cursor: url('./assets/images/normal-cursor.png'), auto;
}
@media (max-width: 576px) {
  body {
    font-size: 1em;
  }
}
